!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_charcoal.login-page.application
    = render "layouts/header/empty"
    = render "layouts/broadcast"
    .container.navless-container
      .content
        = render "layouts/flash"
        .row.prepend-top-20
          .col-sm-5.pull-right
            = yield
          .col-sm-7.brand-holder.pull-left
            %h1
              = brand_title
            - if brand_item
              = brand_image
              = brand_text
            - else
              %h3 Open source software to collaborate on code

              %p
                Manage git repositories with fine grained access controls that keep your code secure.
                Perform code reviews and enhance collaboration with merge requests.
                Each project can also have an issue tracker and a wiki.

            - if extra_sign_in_text.present?
              = markdown(extra_sign_in_text)
            - if help_text.present?
              %h3 Need help?
              %hr
              %p.slead
                = markdown(help_text)

    %hr
    .container
      .footer-links
        = link_to "Explore", explore_root_path
        = link_to "Documentation", "http://doc.gitlab.com/"
        = link_to "About GitLab", "https://about.gitlab.com/"
